.Search-body
{

    
    display: flex;
    
    flex-direction: row;
    align-items: top;
    justify-content: space-evenly;
    
    
    margin: auto;
    background-color: #696c77; 
    padding: 10px;
    
}
.Search-input
{

    
    display: flex;
    
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #696c77; 
    spacing: 0px;
    min-height: 50px;
}


#container
{
    width: 75%;
}
.chart-container
{
    /*width: 30%;
    height: 30%; */

    background-color: lightgreen;
    flex-grow: 1;
    max-width: 40%;
    max-height: fit-content;
}

#Search-body-text
{
    /*width: 30%;
    height: 30%; */
    
    flex-grow: 0.5;
    background-color: lightgrey;
    
    max-width: 35%;
    
}