body {
    margin: 0;
    padding: 50px;
    /* background-color: #696c77;  */
}
.Search-body
{

    
    display: flex;
    
    
    align-items: top;
   
    
    margin: auto;
    background-color: white; 
    
    overflow-wrap: break-word;
    border-style: solid;
    border-color: black;
}
.Search-input
{

    
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #e7b314;
    spacing: 0px;
    min-height: 50px;
    width: 100%;
}

#container
{
    width: 100%;
    align-items: none;
    justify-content: center;
}

.pie{
    color: red;
}
#chart-container
{  
    width: 55%;
    padding: 5px;

}
#Search-body-text
{
    /*width: 30%;
    height: 30%; */
    
    flex-grow: 0.5;
   
    padding: 5%;
    width: 45%;
    font-size: xx-large;
    
}