.api-body
{

    
    display: flex;
    
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
    border: 5px solid;
    margin: auto;
    background-color: slategrey; 
    padding: 10px;
}

#container
{
    width: 75%;
}
.chart-container
{
    width: 30%;
    height: 30%;

    background-color: lightgrey;
    flex-grow: 2;
   
}

#api-body-text
{
    width: 30%;
    height: 30%;
    
    background-color: lightgrey;
    color: aqua;
    
}