.navbar {
    background:#22211e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
    top: 0;
    padding: 0;
}
.navbar-nav {
    list-style-type: none;
    
    display: flex;
    flex-direction: row;
    
    gap: 8%;
    justify-content: center;
    flex-wrap: nowrap; /* assumes you only want one row */
  }

  .navbar-nav-link
  {
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    color: green;
	  font-size: 5rem;
	  font-family: "Space Mono", monospace;
    justify-content: center;
  }