.navbar {
    background: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
    top: 0;
    padding: 0;
}
.navbar-nav {
    list-style-type: none;
    
    display: flex;
    flex-direction: row;
    
    gap: 8%;
    justify-content: center;
    flex-wrap: nowrap; /* assumes you only want one row */
  }

  .navbar-nav-link
  {
    
    font-size: 45px;
    color: white;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
  }